<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-app= "myApp">
<div ng-controller="myController">
    
 <div ng-repeat=" dude in player.kills">
    <h1 class="col-md-12">Player Name: {{dude.handle}}</h1>
    <h1 class="col-md-12">Ranking: {{dude.rank}}</h1>
    <li class="col-md-12" ng-repeat= "clan in dude.clan">{{clan}}</li>
    <h1></h1> 
     
 </div>    
    
    
</div> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>