<div class="row">
    <div class="col-xs-12 chatTitle">
        <h3 >Argument Topic of the Day: </h3>
    </div>
</div>

<div class="row chatBackground">
    <h3 class="col-xs-12 chatTitle">Chat Room</h3>

    <div class="col-xs-12">
            <ul class="row">
                <li ng-repeat="message in messages track by $index">
                <strong>{{message.username}}:</strong><span>{{message.message}}</span>
                </li>
            </ul>
    </div>
    <form>
        <input class="col-xs-8 col-xs-offset-2" ng-model="newMessage" type="text"> <button class="col-xs-2 btn btn-primary" ng-click="sendMessage(newMessage)">send</button>
    </form>
</div>
