.theMainCookie {
    text-align: center;
    font-size: 25px;
    color: black;
}

.spanBaby {
    text-align: center;
    font-size: 20px;
}

.navbar-brand {
    text-align: center;
}

body {
    background-image: url("cookiepicture.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

a {
    color: black;
    font-size: 15px;
}
.navbar{
    font-size: 20px;
    opacity: .4;
    background-color: white;
    font-family: monospace;
}
.title {
    font-family: monospace;
    padding-top: 70px;
    color: black;

}