body {
    background-color: #111111;
}
h1{
    color: #E2E80F;
    text-align: center;
    font-size: 20em;
}
p{
    color: #eeeeee;
    font-size: 35px;
    line-height: 1.3;
}

span.credits{
    text-decoration: underline;
    color: #49DAFF;
    cursor: pointer;
}
#film-description {
    font-size: 25px;
    font-style: italic;
}

