body {
    font-family: monospace;
}

h1 {
    text-align: center;
}

.sideBar {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.hoverMe:hover {
    color: rgba(243, 195, 172, 1);
}

.littleTitle {
    text-align: center;
    font-size: 10px;
    color: gray;
    margin-bottom: 20px;
}

.myDates {
    text-align: center;
    font-size: 10px;
    color: grey;
    display: block;
    font-weight: 400;
}

.myDates::before {
    content: "";
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    line-height: 18px;
    max-width: 80px;
    width: 15%;
}

.myDates::after {
    content: " ";
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    line-height: 18px;
    max-width: 80px;
    width: 15%;
}

.unrelated {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.bottomLine {
    text-align: center;
}

.bottomLine::before {
    content: " ";
    vertical-align: middle;
    border-bottom: 1px solid darkgray;
    display: inline-block;
    width: 45%;
}

.bottomLine::after {
    content: "";
    vertical-align: middle;
    border-bottom: 1px solid darkgray;
    display: inline-block;
    width: 45%;
}

.related::before {
    content: " ";
    vertical-align: middle;
    border-bottom: 1px solid darkgray;
    display: inline-block;
    width: 30%;
}

.related::after {
    content: " ";
    vertical-align: middle;
    border-bottom: 1px solid darkgray;
    display: inline-block;
    width: 30%;
}

#readMore {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    background-color: transparent;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: darkgray;
}

#readMore:hover {
    background-color: darkgray;
    color: white;
}

.readMore {
    display: block;
    text-align: center;
}

.relatedPics {
    margin: 1px;
    margin-right: 25px;
    height: 120px;
    widows: 120px;
}

.fa-2x {
    margin-right: 35px;
    background-color: white;
    color: rgba(243, 195, 172, 1);
}

.myComments {
    display: inline-block;
    padding-left: 690px;
    margin: 0px;
}

sideBar {
    float: left;
}

.sideBarLines {
    position: absolute;
    background-color: white;
    bottom: 35px;
    z-index: 1;
    border: 1px solid white;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    font-family: monospace;
    font-size: 18px;
}

.specialBox {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
}

.littleThing {
    margin: 15px;
}

.sideBarLinesTwo {
    background-color: white;
    position: absolute;
    bottom: 135px;
    z-index: 1;
    border: 1px solid white;
    width: 100px;
    margin-left: -50px;
    left: 50%;
}

.specialBoxTwo {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    height: 150px;
    font-family: monospace;
    font-size: 18px;
}

.marginMe {
    background-color: white;
    position: absolute;
    bottom: 70px;
    z-index: 0;
    margin-left: 55px;
    left: 10%;
    font-family: monospace;
    font-size: 15px;
}

.bottomLeft {
    background-color: white;
    position: absolute;
    bottom: -0px;
    z-index: 1;
    margin-left: -50px;
    left: 20%;
}

.myEnve {
    background-color: white;
    position: absolute;
    bottom: -0px;
    z-index: 1;
    margin-left: 225px;
    left: 20%;
}

.specialBoxThree {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    height: 550px;
    font-family: monospace;
    font-size: 18px;
}

.sideBarLinesThree {
    background-color: white;
    position: absolute;
    bottom: 535px;
    z-index: 1;
    border: 1px solid white;
    width: 100px;
    margin-left: -50px;
    left: 50%;
}

.specialBoxFour {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    height: 1205px;
    font-family: monospace;
    font-size: 18px;
}

.sideBarLinesFour {
    background-color: white;
    position: absolute;
    bottom: 1190px;
    z-index: 1;
    border: 1px solid white;
    width: 100px;
    margin-left: -50px;
    left: 50%;
}

#myAds {
    height: 200px;
    width: 330px;
}

#caroPics {
    height: 540px;
    width: 500px;
}

.peachMe{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(252, 202, 178, 0.56);
}
#moveMe{
    margin-left: -20px;
}
.beefMeUp{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#centerOptions{
    text-align: center;
}
.addPadding{
    padding-bottom: 35px;
}
.navbar-collapse{
    text-align: center;
}
.spaceMe{
    font-size: 15px;
    margin: 10px;
    font-family: FontAwesome;
    padding: 20px;
}
.spaceMeToo{
    font-family: FontAwesome;
    font-size: 18px;
    color: black;
    font-style: italic;
    
}
.dropdown-menu .spaceMe:hover{
    background-color: rgba(252, 202, 178, 0.56);
    
    
}
.fancy-input-inner:after {
    content: "\f002";
}
.shiftLeft{
    margin-left: -15px;
}
#makeCloser{
 top: -350px
}
@media (max-width: 600px){
    #makeCloser{
        top: 0px;
    }
}