h1 {
    color: darkgreen;
    font-family: "Georgia";
    text-align: center;
}

h2 {
    font-family: "Georgia";
    text-align: center;
}
p {
    line-height: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    
}

#upperCase{
    text-transform: uppercase
}
img {
    float: left;
    margin: 15px 15px 15px 0px ;
}