.pageTitle{
    text-align: center;
    padding-bottom: 10px;
}
.myFlag{
    text-align: center;
}
.litteImages{
    height: 300px;
    width: 600px;
    border-radius: 100px;
    padding-top: 30px;
}