h1{
    background-color: black;
    color: crimson;

}
.hitDude{
    position: relative;
    height: 350px;
    width: 370px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 200px;

}
figcaption{
    position:absolute;
    text-align:center;
    background-color: azure;
    color: red;
    opacity: .5;

}
body{
    background-image: url(http://static.tumblr.com/abfe905bda757622775be9f0daa33588/aogoclc/CNGnoooxf/tumblr_static_9ou7h8l4ndgc88kw48kk8s084.jpg);
}
