<h1 class=" homeTitle col-xs-4 col-xs-offset-4">HOME</h1>

<h3 class="homeTitle col-xs-12">My name is Titus Treme, and I am not an Alpaca.</h3>
<div class=" col-xs-12 col-md-4 aboutMe">I am test Text. I am test Text. I am test Text. I am test Text. I am test Text. I am test Text</div>
<img class="myPicture img-responsive col-xs-12 col-md-4" ng-src="TitusTreme.jpg">
<div class="col-xs-12 col-md-4 aboutMe">I am test Text. I am test Text. I am test Text. I am test Text. I am test Text. I am test Text</div>