.left {
    display: inline-block;
    float: left;
    width: 50px;
}

img {
    display: inline-block;
    height: 300px;
    width: 200px;
    padding: 10px;
}

.bigTitle {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}