    * {
    box-sizing: border-box;
    font-size: 0px;
}

:root {
    --first-color: #F5C6D6;
    --second-color: #EE2E84;
    --third-color: #85CFD8;
    --fourth-color: #8DC63F;
    --fifth-color: #E76E34;
}

.col-12 {
    height: 100px;
    display: inline-block;
    width: 100%;
    background-color: var(--first-color);
    border: 1px solid black;
}

.col-3 {
    height: 100px;
    display: inline-block;
    width: 25%;
    border: 4px solid black;
    background-color: var(--second-color);
}

.col-2 {
    height: 100px;
    display: inline-block;
    width: 50%;
    border: 4px solid black;
    background-color: var(--third-color);
}

#seventyfive {
    height: 100px;
    display: inline-block;
    width: 75%;
    border: 4px solid black;
    background-color: var(--fourth-color);
}

#twentyfive {
    height: 100px;
    display: inline-block;
    width: 25%;
    border: 4px solid black;
    background-color: var(--fifth-color);
}


/*
    @media screen and (max-width: 875px) {
        .desktop-view {
            display: block;
        }
*/


/*    }*/

@media screen and (max-width: 875px) {
    div.bang > div {
        height 50px;
        width: 100%;
        border: 1px solid black;
    }#seventyfive {
        height 50px;
        width: 100%;
        border: 1px solid black;
    }#twentyfive {
        height 50px;
        width: 100%;
        border: 1px solid black;
}