.box{
    padding: 75px;
    background-color: lightcyan;
}
html {
    margin:0;
    padding:0;
}

button{
    margin-top: 30px;
}

.myTitle{
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    margin-top: 20px;
}
.myDescription{
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}