body {
    background-image: url(explore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.exploreTitle{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.62);
    margin-top: 100px;
    
}
.navbar{
    opacity: 0.5;
    background-color: white;
    border-radius: 100px;
}
form{
    text-align: center;
    padding-top: ;
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-top: 20px;
}
.bubbleForm{
    padding-top: 25px;
    padding-bottom: 25px;
}