body {
    background-image: url(explore.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.exploreTitle {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.62);
    margin-top: 100px;
}

.navbar {
    opacity: 0.5;
    background-color: white;
}

form {
    text-align: center;
    padding-top: ;
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-top: 20px;
}

.bubbleForm {
    padding-top: 25px;
    padding-bottom: 25px;
}

.trackList {
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

.artistList {
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 15px;
}

.myPhoto {
    border-radius: 100px;
}

.appearBubble {
    text-align: center;
    padding-top: ;
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-top: 25px;
}
.bubbleTwo {
    text-align: center;
    padding-top: ;
    background-color: lightblue;
    border-radius: 100px;
    opacity: .9;
    margin-top: 25px;
}

.spaceGiver {
    margin-top: 100px;
}
