body {
    background-image: url(explore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.exploreTitle{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.62);
    
}
