table {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: blue;
}
tr:nth-child(odd) {
    background-color: orangered;
}

th {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border: 3px solid;
    border-color: black;
}

tfoot {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}